#image-banner{
    width: 100vw;
    height: 30vh;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#title{
    font: 'Poppins';
    font-weight: bold;
    font-size: 24px;
    margin-top:30px;

}
#about{
    margin:0;
    font-size: 20px;
    font-weight: 200;
}

#info{
    margin-left: 30px;
}

.list-item{
margin-bottom:7px;
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }


  #sign-up{
    margin-top: 10px;
    transform: translateX(-50%);
    margin-left: 50%;
    width: 200px;
  }

  #progress-sector{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100vw;
  }


  .progress {
    background: rgb(0, 0, 0);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 20px;
    width: 70vw;
  }
  #progresslabel{
    font-size: 20px;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #ffffff;
    height: 10px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 60%; }
  }