body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 393px;
    margin: 0 auto;
    background-color: white;
    height: 852px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  header {
    padding: 15px;
    background-color: #007bff;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  header nav button {
    background: none;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form input,
  form select,
  form textarea,
  form button {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
  }
  
  form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  .form-group {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .form-group img {
    display: block;
    margin: 10px auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
  }
  
  .form-group .upload-button {
    display: block;
    margin: 10px auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .form-group .upload-button:hover {
    background-color: #0056b3;
  }
  